body {
    background: #0b1522;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;

}

.little {
    display: flex;
    justify-content: center;
}

button {
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(35, 251, 251, 0.856);
    height: 30px;
    width: 70px;
    border-radius: 20px;
}